<div class="row">
    <div class="col-lg-3">
        <el-button type="primary" @click="clickCreateProduct">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Thêm sản phẩm
        </el-button>
    </div>
</div>